$bp520: 520px;
$bp580: 580px;
$bp768: 768px;
$bp960: 960px;
$bp1280: 1280px;

$bp579max: max-width 579px;
$bp959max: max-width 959px;
$bp1279max: max-width 1279px;

$bp580-959: min-width 580px max-width 959px;
$bp580-1279: min-width 580px max-width 1279px;
$bp960-1279: min-width 960px max-width 1279px;
